.saved-memes-section {
    display: none;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    height: 80vh;
    width: 92vw;
    margin: 0 auto;
    padding-inline: 1em;
    background: var(--clr3);
    margin-block: 1em;
}